/* Global Styling */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
/* body styling */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* header styles */
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blueviolet;
    background-size: cover;
    background-attachment: fixed;

}

header h1 {
    font-weight: bold;
    margin: 0;
    color: #cdd2ff;

}

header a {
    color: #cdd2ff;

}
/* nav styles */
header nav {
    margin: 8px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
    color: rgb(54, 31, 79);
    border-radius: 15px;
    text-shadow: none;
}  




section {
    padding: 60px;
}

.under {
    background-image: url('assets/backgroundimagecss.jpeg');
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image { 
    height: 300px;
}

.under h2 {
    color: #cdd2ff;
    float: right;
    font-style: normal;
    font-size: 32px;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;

}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 15px;
    width: 12%;
    text-align: end;
    border-right: #cdd2ff solid 4px;
    font-size: 35px;
    color: #cdd2ff;
    margin: 0 auto 0 auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 75%;

}


.section-title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    color: #cdd2ff;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 12%;
    text-align: end;
    height: 1000px;
    border-right: #cdd2ff solid 4px;
}

.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 75%;
    height: 1000px;
}

.section p, .section a {
    line-height: 1.5;
    color: #cdd2ff;
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;

}

.flex-row2 p {
    display: inline-block;
    text-align: start;
    background-color: rgb(67, 3, 117);
    opacity: 75%;
    width: 45%;
    position: absolute;
    bottom: 10%;
    left: 0%;
}


.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    height: 500px;
    width: 100%;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    width: 100%;
}
/* big box */
.seo-project {
    background-image: url('assets/seorefractor.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0 1% 2% 1%;
    border: rgb(121, 27, 149) 4px solid;
    position: relative;
}

.seo-project:hover {
    opacity: 70%;
}
/* small boxes */
.coming-soon {
    background-image: url('assets/comingsoonimage.jpeg');
    background-size: cover;
    width: 47%;
    height: 250px;
    margin-bottom: 20%;
    border: rgb(121, 27, 149) 4px solid;
    position: relative;
}

.coming-soon:hover {
    opacity: 70%;
}

.coming-soon2 {
    background-image: url('assets/comingsoonimage.jpeg');
    background-size: cover;
    width: 47%;
    height: 250px;
    margin-bottom: 20%;
    border: rgb(121, 27, 149) 4px solid;
    position: relative; 
}

.coming-soon2:hover {
    opacity: 70%;
}
/* Footer Styles */

footer {
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: lemonchiffon;
}
  
footer h2 {
    color: #cdd2ff;
    font-size: 32px;
    margin: 0;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .under {
        font-size: 28px;
        padding-right: 20px;
    }
    
    .under h2 {
        font-size: 35px;
    }

    .section-title {
        font-size: 35px;
    }

    .section p .section a {
        font-size: 16px;
        line-height: 1.6;
    }
}


@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }

    .under {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
    }

    .section {
        border-bottom: #cdd2ff 5px solid;
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .section p .section a {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    .flex-row2 {
        flex-direction: column;
        padding: 30px 0;
    }

    .section-title2 {
        width: 100%;
        padding: 10px;
    }
    
    .other-projects {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }


}